/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
    position: relative; /* 使背景球相对于 body 定位 */
    overflow: hidden; /* 隐藏超出 body 的部分 */
}

/* Floating balls */
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.ball {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0.7;
    animation: float 4s ease-in-out infinite;
}

.ball1 {
    background-color: #70a7dd;
    top: 20%;
    left: 10%;
}

.ball2 {
    background-color: #de6768;
    top: 50%;
    left: 70%;
    animation-delay: 2s; /* 延迟开始动画 */
}

/* Page container */
.container {
    max-width: 400px;
    padding: 20px;
    background-color: #fefdf7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1; /* 使内容在球的上方 */
    position: relative; /* 确保 z-index 生效 */
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

form {
    max-width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    white-space: pre-wrap; /* 保留换行符并自动换行 */
}

input[type="hidden"] {
    display: none;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #ebafaf;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #de6768;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
