body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  justify-content: center;
}

#management-buttons {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: auto;
}

#management-buttons a {
  text-decoration: none;
}

#management-buttons button {
  width: 173px;
  height: 40px;
  border: none;
  margin: 4px;
  border-radius: 5px;
  font-weight: bold;
  font-size: small;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #f6ddbf;
  color: black;
}

#container {
  height: 600px;
  width: 350px;
  background-color: #fefdf7;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#post-preview {
  display: flex;
  flex-direction: column;
  align-items: center; /* 水平置中 */
}

input {
  background-color: #fefdf7;
  width: 300px;
  height: 30px;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  border: 1px solid #333;
  border-radius: 4px;
  margin: 5px;
}

#image-square {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  background-color: #000;
  margin: 5px auto; /* 水平置中 */
}

#image-square img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain; /* 保持圖片的寬高比 */
}

#post-options {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#post-options button {
  width: 148px;
  height: 40px;
  border: none;
  margin: 4px;
  border-radius: 5px;
  font-weight: bold;
  font-size: small;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: black;
}

#post-options button:hover {
  background-color: #333;
  color: #fff;
}

#post-download {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#post-download button {
  width: 300px;
  height: 40px;
  border: none;
  margin: 4px;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: small;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
