/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
/* Body styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #fefdf7;
    font-family: Arial, sans-serif;
    text-align: center;
    flex-direction: column;
}
  
/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}
  
#anon-text {
    font-size: 24px;
    font-weight: bold;
}
  
#user-name {
    margin-left: 10px;
    font-size: 16px;
}
  
/* Container styles */
.container {
    margin-top: 80px;
}
  
.menu-icon {
    font-size: 24px;
    cursor: pointer;
    margin-left: auto;
}
  
/* Side menu styles */
.side-menu {
    position: fixed;
    height: 100%;
    width: 250px;
    top: 0;
    right: -250px;
    background-color: #333;
    color: white;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}
  
.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    overflow-y: auto;
}
  
.side-menu ul li {
    padding: 13px 20px;
    border-bottom: 1px solid #555;
}
  
.side-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
  
.side-menu .logout {
    padding: 10px 20px;
    border-top: 1px solid #555;
    background-color: #444;
}
  
.side-menu .logout a {
    color: white;
    text-decoration: none;
}
  
/* Menu overlay */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
    z-index: 9;
}
  
.menu-overlay.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
}
  
/* Footer styles */
footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 8;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}
  
/* Responsive styles */
@media screen and (max-width: 600px) {
    header {
        flex-wrap: nowrap;
    }
  
    .card {
        padding: 15px;
    }
}
  
.logocircle {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
}
  
#header-gap {
    height: 5px;
}
