body{
  background-color: #fefdf7;
}
.post{
  height: 400px;
  background-color: #fefdf7;
}
.post img{
  width: 400px;
  position: relative;
  z-index: 0;
}
.post .date{
  top: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
  background-color: #fefdf7;
  width: 260px;
  height: 20px;
  border: 0px;
  text-align: center;
  color:#e69137;
}
.post .number{
  top: 330px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
  background-color: #fefdf7;
  width: 260px;
  height: 20px;
  border: 0px;
  text-align: center;
  color:#e69137;
}
.post .data{
  top: 310px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
  background-color: #fefdf7;
  width: 260px;
  height: 20px;
  border: 1px;
  text-align: center;
  color:#ea9999;
}
.post .content{
  top: 240px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
  background-color: #999;
  width: 260px;
  height: 180px;
  border: 1px;
  text-align: center;
  white-space: pre-wrap;
}
.blank{
  height: 50px;
}
button{
  border: 0px;
  background-color: #fefdf7;
  box-shadow: 2px 2px 5px #888888;
  height: 30px;
  width: 200px;
  border-radius: 20px;
}