/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fefdf7;
    font-family: Arial, sans-serif;
    text-align: center; /* 水平居中内容 */
    position: relative;
    overflow: hidden;
}

/* Circle styles */
.circle {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    opacity: 0.9;
    pointer-events: none; /* 禁止鼠标事件，以免影响表单操作 */
}

/* Page container */
.container {
    max-width: 400px;
    padding: 20px;
    background-color: #fefdf7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* 确保在球之上 */
    z-index: 1; /* 确保在球之上 */
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

form {
    max-width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    white-space: pre-wrap; /* 保留换行符并自动换行 */
}

#whiteBox {
    background-color: white;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


input[type="hidden"] {
    display: none;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #ebafaf;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #de6768;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
