body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  justify-content: center;
}

#management-buttons {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: auto;
}

#management-buttons a {
  text-decoration: none;
}

#management-buttons button {
  width: 198px;
  height: 40px;
  border: none;
  margin: 4px;
  border-radius: 5px;
  font-weight: bold;
  font-size: small;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #f6ddbf;
}

#container {
  height: 500px;
  width: 400px;
  background-color: #fefdf7;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

input {
  background-color: #fefdf7;
  width: 300px;
  height: 30px;
  text-align: center;
  font-size: medium;
  font-weight: bold;
}

textarea {
  width: 300px;
  height: 200px;
  resize: none;
  border-radius: 5px;
}

form {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#data-status {
  padding: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
}

#data-status button {
  width: 148px;
  height: 40px;
  border: none;
  margin: 4px;
  border-radius: 5px;
  font-weight: bold;
  font-size: small;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#data-status #pass {
  background-color: #b7e5f8;
}

#data-status #pass:hover {
  background-color: #70a7dd;
}

#data-status #fail {
  background-color: #ebafaf;
}

#data-status #fail:hover {
  background-color: #de6768;
}

#edit-options {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#edit-options button {
  width: 198px;
  height: 40px;
  border: none;
  margin: 4px;
  border-radius: 5px;
  font-weight: bold;
  font-size: small;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#edit-options button:hover {
  background-color: #333;
  color: #fff;
}

#edit-end {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#edit-end button {
  width: 400px;
  height: 40px;
  border: none;
  margin: 4px;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: small;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#manager {
  position: absolute;
  bottom: 10px; /* 距離 #container 底部 10px */
  left: 10px; /* 距離 #container 左邊 10px */
  display: flex;
  justify-content: space-between;
  width: 95%;
}

#managerid {
  border: none;
  text-align: right;
  font-size: 15px;
  width: 100px;
}

#manager-status {
  border: none;
  text-align: left;
  font-size: 15px;
  width: 100px;
}
