body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 確保 body 至少佔滿整個視口 */
  margin: 0; /* 清除預設的 margin */
  justify-content: center; /* 垂直置中 */
}

#management-buttons {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: auto; /* 將按鈕推至底部 */
}

#management-buttons a {
  text-decoration: none;
}

#management-buttons button {
  width: 198px;
  height: 40px;
  border: none;
  margin: 4px;
  border-radius: 5px;
  font-weight: bold;
  font-size: small;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #f6ddbf;
}

#container {
  height: 500px;
  width: 400px;
  background-color: #fefdf7;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding:10px;
  display: flex;
  flex-direction: column;
  position: relative; /* 增加這一行 */
}

input {
  background-color: #fefdf7;
  width: 300px;
  height: 30px;
  text-align: center;
  font-size: medium;
  font-weight: bold;
}

textarea {
  width: 300px;
  height: 200px;
  resize: none;
  border-radius: 5px;
}

form {
  justify-content: center; 
  align-items: center;  
  display: flex;
  flex-direction: column;
}

#data-status {
  padding: 15px;
  justify-content: center; 
  align-items: center;  
  display: flex;
}

#data-status button {
  width: 148px;
  height: 40px;
  border: none;
  margin: 4px;
  border-radius: 5px;
  font-weight: bold;
  font-size: small;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#data-status #pass {
  background-color: #b7e5f8;
}

#data-status #pass:hover {
  background-color: #70a7dd;
}

#data-status #fail {
  background-color: #ebafaf;
}

#data-status #fail:hover {
  background-color: #de6768;
}

#edit-options {
  display: flex;
  justify-content: center; /* 將按鈕置中 */
}

#edit-options button {
  width: 198px;
  height: 40px;
  border: none;
  margin: 4px;
  border-radius: 5px;
  font-weight: bold;
  font-size: small;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#edit-options button:hover {
  background-color: #333;
  color: #fff;
}

#edit-end {
  display: flex; /* 設為 flex 容器 */
  justify-content: center; /* 將按鈕置中 */
  margin-top: 20px; /* 添加上邊距以保持與其他元素的間距 */
}

#edit-end button {
  width: 400px;
  height: 40px;
  border: none;
  margin: 4px;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: small;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#manager {
  position: absolute; /* 這會把它相對於 #container 定位 */
  bottom: 20px; /* 距離 #container 底部 20px */
  right: 20px; /* 距離 #container 右邊 20px */
}

#managerid {
  border: none;
  text-align: right;
  font-size: 15px;
}